
@{
    ViewBag.Title = "Categorias";
}

<div class="container"><b style=" text-align:center; font-family:'Courier New'; font-size:350%; color:#032076;"><center>Empleados</center></b>
                      <div><center><img src="~/Content/img/icono.png" alt="logo" style="width:100px;"></center></div> 
    </div>

<div class="container" style=" background-image: url(/Content/img/img5.jpg); font-size:350%;">

   <h3><center>Proximamente...<center></h3>

</div>
