
@{
    ViewBag.Title = "Index";

}


<div class="container" style=" background-color: white ">
    <!-- ******************INICIO*************************-->
    <!-- ******************Imagen inicial*************************-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <center> <p style="font-size:300%; font-family:Arial; color:black; margin-top: 10px;">Administrador</p></center>

        <!-- Wrapper for slides -->
        <div class="carousel-inner " style="margin-top: 10px;">
            <div class="item active">
                <img src="~/Content/imgPrueba/admin.jpg" alt="Los Angeles">
            </div>



        </div>


    </div>
    <!--********************************************-->
    <!--********************************************-->



    <div class="container" style=" background-color: #45C236; margin-top: 50px;  ">

        <div class="container" style=" margin-top: 10px; background-image: url(/Content/imgPrueba/hojitass2.jpg);">

            <center> <p style="font-size:400%; font-family:'Brush Script MT'; color:snow;">Misión</p></center>



        </div>
        <br />
        <br />
        <p style="font-size:200%; font-family:'Courier New'; color:snow;">

            Dar al cliente el mejor servicio y variedad, calidad y valor de productos. <br />
            Liderar la industria de artículos de camping con marcas basadas en la pasión por la naturaleza y el estilo de vida moderno.
        </p>
        <br />
        <div class="container" style=" margin-top: 10px; background-image: url(/Content/imgPrueba/hojitass2.jpg);">

            <center> <p style="font-size:400%; font-family:'Brush Script MT'; color:snow;">Visión</p></center>



        </div>
        <br />
        <br />
        <p style="font-size:200%; font-family:'Courier New'; color:snow;">
            Convertirse en el mejor servicio de compra para la actividad camping y ayudar a la experiencia de muchas personas a amar y isfrutar la naturaleza de forma segura .
        </p>
        <br />
        <div style="background-image: url(/Content/imgPrueba/hojitass.jpg);  margin-top: 2px; margin-bottom: 10px; margin-left: 50px; margin-right: 50px;">
            <br />
            <center><img src="~/Content/imgPrueba/logo1.jpg" width="400" height="400"></center>
            <br />
            <br />
        </div>
    </div>



    <!--********************IMAGEN Y TEXTO************************-->
    <!--********************************************-->
    <!-- ******************FINAL*************************-->

</div>
